<div [formGroup]="formGroup">
  <mat-form-field class="w-full">
    <mat-label>{{label}}</mat-label>
    <input matInput [placeholder]="label" [formControlName]="name" [required]="required" [type]="hide ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hide = !hide" class="cursor-pointer">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngIf="f[name].hasError('required')">
      {{errors.required}}
    </mat-error>
    <mat-error *ngIf="f[name].errors?.mustMatch">
      {{errors.passwordMustMatch}}
    </mat-error>
  </mat-form-field>
</div>

