<mat-toolbar color="primary" class="fixed h-16 z-10">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Le Red2Web</span>
  <div class="w-full"></div>
  <button mat-icon-button [matMenuTriggerFor]="accountMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #accountMenu="matMenu">
    <div class="m-2">
      <button mat-menu-item *ngIf="loggedUser$ | async as loggedUser">
        {{(loggedUser.firstName)}}
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="signOut()">
        <mat-icon>exit_to_app</mat-icon>
        Se déconnecter
      </button>
    </div>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="h-full pt-16">

  <mat-sidenav #sidenav mode="side" opened="true" class="pt-20">
    <button mat-menu-item [routerLink]="['/task/list']">
      <mat-icon>dialpad</mat-icon>
      <span>Mes tâches</span>
    </button>
    <button mat-menu-item [routerLink]="['/chat']">
      <mat-icon>chat</mat-icon>
      <span>Discussion</span>
    </button>
    <div *ngIf="loggedUser$ | async as loggedUser">
      <div *ngIf="isAdmin(loggedUser)">
        <mat-divider></mat-divider>
        <button mat-menu-item [routerLink]="['/admin/users']">
          <mat-icon>supervisor_account</mat-icon>
          <span>Utilisateurs</span>
        </button>
        <button mat-menu-item [routerLink]="['/admin/platforms']">
          <mat-icon>cloud_queue</mat-icon>
          <span>Plateformes</span>
        </button>
        <button mat-menu-item [routerLink]="['/admin/comptes']">
          <mat-icon>account_circle</mat-icon>
          <span>Comptes</span>
        </button>
        <button mat-menu-item [routerLink]="['/admin/statutes']">
          <mat-icon>done</mat-icon>
          <span>Statuts</span>
        </button>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="m-8">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
