<app-main>
  <h2>Mes tâches</h2>

  <div class="flex justify-between">
    <div class="w-full mb-4">
      <span *ngIf="isAdmin" class="mr-4">
        <button mat-raised-button [routerLink]="['/admin/task/new']">
          <mat-icon>add</mat-icon>
          Nouveau
        </button>
      </span>
      <mat-form-field class="w-1/2">
        <input #searchInput matInput type="text" placeholder="Rechercher" (keyup)="filter(searchInput.value)" />
        <button *ngIf="searchInput.value" matSuffix mat-icon-button aria-label="Clear" (click)="searchInput.value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="ml-4">
        <mat-label>Date de création</mat-label>
        <mat-date-range-input [rangePicker]="picker" [formGroup]="formGroup">
          <input matStartDate formControlName="start" placeholder="Start date" (dateChange)="startDateChange()">
          <input matEndDate formControlName="end" placeholder="End date" (dateChange)="endDateChange()">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
    <div class="flex">
      <div class="flex-none mt-3">
        Vues :
      </div>
      <button mat-icon-button (click)="switchToKanbanView()">
        <mat-icon>view_module</mat-icon>
      </button>
      <button mat-icon-button (click)="switchToTableView()">
        <mat-icon>view_list</mat-icon>
      </button>
    </div>
  </div>

  <div *ngIf="kanbanView">
    <app-kanban
      [board$]="kanbanBoard$"
      (onChangeContainer)="changeStatus($event)"
    >
      <ng-template let-item>
        <app-task-card
          [task]="item"
        ></app-task-card>
      </ng-template>
    </app-kanban>
  </div>

  <div *ngIf="tableView && (platforms$ | async) as platforms">
    <mat-card
      class="mb-4"
      *ngFor="let platform of platforms"
    >
      <app-table
        #table
        [isAdmin]="true"
        [withSearchForm]="false"
        [withAddButton]="false"
        [withViewElementButton]="true"
        [title]="platform.name"
        [data$]="tasksByPlatform(platform?.fsId ?? '')"
        [columns]="tableColumns"
        (editElement)="editTask($event)"
        (deleteElement)="deleteTask($event)"
        (viewElement)="viewTaskDetail($event)"
      >
      </app-table>
    </mat-card>
  </div>
</app-main>
