<app-main>
  <h2>Mes tâches</h2>
  <span *ngIf="isAdmin" class="mr-4">
    <button mat-raised-button [routerLink]="['/admin/task/new']">
      <mat-icon>add</mat-icon>
      Nouveau
    </button>
  </span>
  <mat-form-field class="w-1/2 mb-4">
    <input #searchInput matInput type="text" placeholder="Rechercher" (keyup)="filter(searchInput.value)" />
  </mat-form-field>

  <div *ngIf="(platforms$ | async) as platforms">
    <mat-card
      class="mb-4"
      *ngFor="let platform of platforms"
    >
      <app-table
        #table
        [isAdmin]="true"
        [withSearchForm]="false"
        [withAddButton]="false"
        [withViewElementButton]="true"
        [title]="platform.name"
        [data$]="tasksByPlatform(platform?.fsId ?? '')"
        [columns]="tableColumns"
        (editElement)="editTask($event)"
        (deleteElement)="deleteTask($event)"
        (viewElement)="viewTaskDetail($event)"
      >
      </app-table>
    </mat-card>
  </div>
</app-main>
