<app-form [formGroup]="formGroup" class="w-11/12">
  <div class="grid gap-8 grid-cols-12">
    <div class="col-span-9">
      <app-text-field [required]="true" [formGroup]="formGroup" label="Tire" name="title"></app-text-field>
    </div>
    <div class="col-span-3">
      <app-select-field [required]="true" [formGroup]="formGroup" label="Statut" name="statusId" [values]="statutes$ | async"></app-select-field>
      <app-select-field [required]="true" [formGroup]="formGroup" label="Assingé à" name="userId" [values]="users$ | async"></app-select-field>
      <app-select-field [required]="true" [formGroup]="formGroup" label="Plateforme" name="platformId" [values]="platforms$ | async"></app-select-field>
      <app-select-field [required]="true" [formGroup]="formGroup" label="Compte" name="compteId" [values]="comptes$ | async"></app-select-field>
    </div>
  </div>
</app-form>
