<app-empty>
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mot de passe</mat-label>
        <input matInput placeholder="Mot de passe">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>Login</button>
    </mat-card-actions>
  </mat-card>
</app-empty>
